@tailwind base;
@tailwind components;
@tailwind utilities;

.goldman {
  font-family: "Goldman", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.clip-path {
  clip-path: polygon(25% 0, 100% 0, 100% 76%, 76% 100%, 0 100%, 0 27%);
}

.gus-font-body {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5;
}

.gus-font-header {
  font-family: "Goldman", sans-serif;
  font-size: 2.25rem; /* 36px */
  line-height: 1.2;
}

body {
  overflow-x: hidden;
}

.fade-out-logo {
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}